.search {
  width: 50%;
  display: inline-block;
  float: right;
  text-align: right;
  &-filtered {
    &-form {
      &__input {
        padding: 10px;
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 10px;
        text-transform: lowercase;
        // &:focus {
        //   position: fixed;
        //   z-index: 12;
        //   color: $brand;
        //   background: rgba(255,255,255,0.2);
        //   padding: 50px;
        //   display: block;
        //   height: auto;
        //   text-align: center;
        //   left: 0;
        //   color: white;
        //   top: 0;
        //   font-size: 4rem;
        // }
      }
    }
  }
}
