// colors
$background--light: #eee;
$background--dark: #222;
$black: #000000;
$blue: #1f8de2;
$cta--red: #e7325d;
$font-color--dark: #333;
$font-color--light: #fff;
$green: #1fe27b;
$grey--medium: #cccccc;
$grey--dark: #5a5a5a;
$red: #e21f3f;
$white: #ffffff;
$yellow: #faa61d;

$brand: $yellow;
